# GEMINI_API_KEY: Optional for future AI features
GEMINI_API_KEY=""

# SERVER_PORT: Custom port for backend
PORT=3000

# MAPILLARY_API_KEY: Required for Mapillary Street View integration
VITE_MAPILLARY_API_KEY=""
